/* color pallete hehe */
/* #D9A9B6  #402132  #592550  #73306E  #F2E8E4 */

* {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    background-color: #d9a9b6;
}

.header {
    background-color: #402132;
    position: relative;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 10px rgba(115, 48, 111, 0.75);

    .site-title-container {
        display: flex;
        align-items: center;
        gap: 20px;

        .logo {
            width: 50px;
            height: 50px;
        }

        .site-title {
            font-family: "Trebuchet MS", sans-serif;
            font-weight: bold;
            font-size: 25px;
            color: #f2e8e4;
        }
    }

    .menu {
        font-family: "Trebuchet MS", sans-serif;
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            text-decoration: none;
            color: #f2e8e4;
            padding: 25px 15px;
            margin: -10px -15px;
            border-radius: 5px;
        }
        a:hover {
            text-decoration: none;
            background-color: #f2e8e4;
            color: #73306e;
            padding: 25px 15px;
            margin: -10px -15px;
            border-radius: 5px;
        }
        .hire-me {
            background-color: #73306e;
            color: #f2e8e4;
        }

        .hire-me:hover {
            background-color: #f2e8e4;
            color: #402132;
            padding: 25px 15px;
            margin: -10px -15px;
            border-radius: 5px;
        }
        a {
            width: 5vw;
            text-align: center;
        }
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        top: 375px;
    }
}

.hero-container {
    display: flex;
    align-items: center;
    height: 683px;
    padding: 0 150px;
    gap: 100px;
    position: relative;

    .hero-left {
        .hero-picture {
            width: 400px;
        }

        .sm {
            position: absolute;
        }

        .small-logo {
            position: absolute;
            top: -35px;
            width: 70px;
            left: -30px;
            border-radius: 10px;
        }

        .small-logo {
            animation-name: rotateAnimation;
            animation-duration: 1ms;
            animation-timing-function: ease-out;
            animation-timeline: scroll(block nearest);
        }
    }

    .hero-right {
        width: auto;
        padding: 25px;

        .hero-heading {
            font-family: "Trebuchet MS", sans-serif;
            font-size: 70px;

            span {
                color: #73306e;
            }
        }

        .hero-sub-heading,
        .small-text {
            font-family: "Trebuchet MS", sans-serif;
            font-size: 17px;
            padding: 20px 0;
        }

        .hero-btn-container {
            display: flex;
            align-items: center;
            gap: 20px;

            .resume-btn,
            .contact-btn {
                border-radius: 5px;
                padding: 20px 60px;
            }

            .resume-btn {
                font-family: "Trebuchet MS", sans-serif;
                background-color: #73306e;
                border-color: #f2e8e4;
                color: #f2e8e4;
            }

            .contact-btn {
                font-family: "Trebuchet MS", sans-serif;
                background-color: #f2e8e4;
                border-color: #73306e;
                color: #73306e;
            }
        }

        .small-text {
            opacity: 60%;
        }
    }
}

@keyframes pan {
    0% {
        background-position: 0 -200px;
    }
    100% {
        background-position: 0 -1300px;
    }
}

.about-container {
    /* * {
        box-shadow: 0px 0px 0px 1px rgb(60, 255, 0) inset;
    } */
    position: relative;
    height: 700px;
    width: 100%;

    .about-bg {
        background-image: url("images/about-me-bg.jpg");
        background-size: cover;
        background-position: 0 -1050px;
        background-repeat: no-repeat;
        position: absolute;
        height: 700px;
        width: 100%;
    }

    .about-bg {
        animation-name: pan;
        animation-duration: ease-in-out;
        animation-duration: 1ms;
        animation-timeline: view();
    }

    .overlay {
        background-color: hsla(304, 41%, 32%, 0.333);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .about-me {
        padding: auto;
        position: relative;
        height: 100%;
        z-index: 1;
    }
    .about-heading {
        font-family: "M PLUS Rounded 1c", serif;
        text-align: center;
        font-size: 100px;
        color: white;
        padding: 25px;
    }
}
